body{
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.mainContainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.bordered {
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

.content {
    width: 49%;
}

.leftContent {
    /* background-color: cornflowerblue; */
    float: left;
}

.rightContent {
    /* background-color: darkcyan; */
    float: right;
}

.mainImage {
    background-color: black;
    min-width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease 0s;
}
.mainImage:hover {
    transform: scale(0.95);
    transition: all 0.2s ease 0s;
}

.civCell {
    float: left;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transform: scale(1.0);
    transition: all 0.4s ease 0s;
    border-radius: 10px;
}

.civCell p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.civCell img {
    width: 104px;
    border-radius: 10px;
}

.civCell:hover {
    background-color: lightgray;
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    text-align: center;
  }

  .modalHidden {
    display: none;
    /* opacity: 0;
    transition: all 0.4s linear; */
  }

  .modalVisible {
    display: block;
    /* opacity: 1;
    transition: all 0.4s linear; */
  }
  
  .modalContent {
    display:inline-block;
    background-color: white;
    margin: 5% auto; /* 10% from the top and centered */
    padding: 24px;
    width: 800px;
    text-align: left;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin-top:-16px;
    margin-right:-10px;
  }
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .debug {
      position: absolute;
      top: 16px;
      left: 16px;
  }

  .debug p {
    padding-left: 4px;
}

 .debug ul {
     list-style: none;
     padding-left: 0;
 }
  
  .debug li {
    cursor: pointer;
    padding: 4px;
}

.debug li:hover {

    background-color: lightgray;
}

.statsTable {
    margin-top: 16px;
    width: 100%;
}

/* .statsTable tr:first-child  {
    font-weight: bold;
} */

.logTable {
    margin-top: 16px;
    width: 100%;
}

/* .logTable tr:nth-child(2)  {
    font-weight: bold;
} */


.emptySelection {
    display: table-cell;
    color: var(--color-text);
    width: 112px;
    height: 112px;
    line-height: 112px;
    border-radius: 14px;
    border-style: dashed;
    border-width: 4px;
    opacity: 0.5;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    text-align: center;
  }
  
  .emptySelection:hover {
    cursor: pointer;
    background-color: var(--color-charcoal-lighter);
    opacity: 1;
    transition: all 0.2s ease 0s;
  }
